<%- include('./header.ejs') %>
  <!-- Hero Section -->
  <section class="heroContact" id="hero">
    <a href="#contact" style="text-decoration: none;"><h2 class="hero_header" >Contact Us<span class="light">&nbsp;</span></h2></a>
	  <a href="#contact" style="text-decoration: none"><p class="tagline">give us a call or email</p></a>
  </section>
  <!-- About Section -->
  <section class="about" id="about">
	  <div class="contactbox">
    <h2 class="aboutHeader">Contact&nbsp;</h2>
	  <h4>Address</h4>
    <a href="#" style="text-decoration: none;" class="text_column"><strong>123 Wine Country Dr, Ashburn, VA &nbsp;</strong></a><br>
	  <h4>Phone Number</h4>
	  <a class="text_column"><strong>703-777-7777</strong> &nbsp;</a><br>
	  <h4>Email</h4>
	  <a class="text_column"><strong>fullstackcarclub@fscarclub.com &nbsp;</strong></a><br>
	  <h4>Social Media</h4>
	  <a class="text_column"><strong>facebook &emsp;|&emsp;YouTube &emsp;|&emsp; Twitter &emsp;|&emsp; instagram</strong></a><br><br><br>
	  </div>
  </section>
  
  <%- include('./footer.ejs') %>