<%- include('./header.ejs') %>

  <!-- Hero Section -->
  <section class="hero" id="hero">
    <a href="/vehicles/615742bedcebf718f46109b6" style="text-decoration: none;"><h2 class="hero_header" >New Inventory<span class="light">&nbsp;</span></h2></a>
	  <a href="/vehicles/615742bedcebf718f46109b6" style="text-decoration: none"><p class="tagline">'67 Mustang Fastback'</p></a>
  </section>
  <!-- About Section -->
  <section class="about" id="about">
    <h1 style="margin-left: 40%; font-size: 40px;">FullStack Car Club</h1> 
    <div style="margin-left: 40%;">
    <form action="/users/register">
            <button>SIGN UP</button>
          </form>
    <form action="/users/signin">
            <button>LOGIN</button>
          </form> 
    <form action="/users/signout">
            <button>SIGN OUT</button>
          </form> 
    </div>               
    <p class="text_column">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    <p class="text_column">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    <p class="text_column">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
  </section>
  <!-- Stats Gallery Section -->
  <div class="gallery">
    <div class="thumbnail">
      <h1 class="stats">Featured Award Winning Design</h1>
		<a href="#"><img alt="future BMW" src="/bmw-r1250gs-custom (1).jpg" style="position: inherit; width: 450px; height: 250px; border-radius: 15px; "></a>
    </div>
    <div class="thumbnail">
      <h1 class="stats">New Track <italics>Oriented</italics> Vehicle</h1>
      <a href="#"><img alt="Vulcan" src="/vulcanfront.jpeg" style="position: inherit; width: 450px; height: 250px; border-radius: 15px; "></a>
    </div>
    <div class="thumbnail">
      <h1 class="stats">Featured Classic</h1>
      <a href="#"><img alt="71_skyline" src="/dsc00024-1140x703-555cdab134ab3.jpg" style=" object-fit: cover; position: inherit; width: 450px; height: 250px; border-radius: 15px; "></a>
    </div>
    <div class="thumbnail">
      <h1 class="stats">Custom Chopper of the Week</h1>
      <a href="#"><img alt="Harley Chopper" src="/caferacerspecial.blogspot.com_1.jpg" style="object-fit: cover; position: inherit; width: 450px; height: 250px; border-radius: 15px; "></a>
    </div>
    <br>
    &nbsp
  </div>
  <!-- Parallax Section -->
  <section class="banner">
    <h2 class="parallax">Clubhouse</h2>
	  <a href="#clubhouse"><img class="clubhouse" alt="clubhouse" src="/atlanta car clubhouse bar-lounge.jpeg"></a>
    <p class="parallax_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </section>
  <!-- More Info Section -->
 <%- include('./footer.ejs') %>
