<%- include('./header.ejs') %>
<!-- Hero Section -->
  <section class="heroNew" id="hero">
    <a href="#" style="text-decoration: none;"><h2 class="hero_header" >New Vehicle<span class="light">&nbsp;</span></h2></a>
	  <a href="#" style="text-decoration: none"><p class="tagline">The collection continues to grow</p></a>
  </section>
  <!-- About Section -->
  <section class="showNew" id="show">
	  <div class="new_column">
    <h1>New Vehicle Page</h1><br><br>
    <form action="/vehicles" method="POST">
	  <!-- <input type="text" name="type" placeholder="Type: award, classics, track, chopper" />  -->
	  <select style="font-size: 16px;" type="text" name="type">
      <option value="award">Award Winning Design</option>
      <option value="classics">Classics</option>
      <option value="track">Track Oriented</option>
      <option value="classic">Choppers</option>
    </select><br><br>	
      <input type="text" name="name" placeholder="Vehicle Name" /> <br><br>
      <input type="text" name="img" placeholder="Image url" /> <br><br>
      <input type="text" name="img2" placeholder="Image 2 url" /> <br><br>
      Available to Rent:  <input type="checkbox" name="readyToRent"> <br><br>

      <input type="submit" value="Add Vehicle" />
    </form>
	  </div>
  </section>
<%- include('./footer.ejs') %>