<%- include('../header.ejs') %>
  <!-- Hero Section -->
  <section class="heroLogin" id="hero">
    <a href="#contact" style="text-decoration: none;"><h2 class="hero_header" >Join the Club<span class="light">&nbsp;</span></h2></a>
	  <a href="#contact" style="text-decoration: none"><p class="tagline">Get Exclusive Access</p></a>
  </section>
  <!-- About Section -->
  <section class="about" id="about">
    <div class="login_column">
	  <!-- <h2 class="aboutHeader">Login</h2>
	  <form>
      <input type="text" name="username" placeholder="Username"><br><br>
      <input type="text" name="password" placeholder="Password"><br><br>
		  <button type="submit">Login</button>
	  </form> -->
	  </div>
	  <div class="login_column">
		  <h2 class="aboutHeader">Login In</h2>
	  <form action="/users/signin" method="POST">
		<fieldset>
			<label for="username">Username:</label>
			<input type="text" name="username" id="username">
		</fieldset>
		<fieldset>
			<label for="password">Password:</label>
			<input type="password" name="password" id="password">
		</fieldset><br>
		<input type="submit" value="Sign In">
		<br><br>
	</form>
	  </div>
  </section>
 
  <%- include('../footer.ejs') %>